.container{
    width: 100%;
    /*background-image: url(Images/Background2.jpg);*/
    background-position: center;
    background-size: cover;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
    position: relative;
}

section p{
    font-weight: 300;
}

/*Style pour les carte*/

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 2em, 1em;
    text-align: center;
    justify-content: space-between;
}

.column{
    width: 100%;
    padding: 0.5em 0.5em;
    margin: 1em 0.2em;
}

.column p{
    padding-left: 2rem;
}

.column h3{
    padding-left: 2rem;
}

h1{
    width: 100%;
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 2.0em;
    color: #000000;
}

.card{
    box-shadow: 0 0 2.2em #e8e1e1;
    padding: 3em 1em;
    border-radius: 0.6em;
    color: #000000;
    cursor: pointer;
    transition: 0.3s;
    background-color: #FFFFFF;
    display: flex;
    align-items: right;
}

.card .img-container{
    width: 50%;
    height: 50%;
    background-color: #bef3f4;
    padding: 0.5em;
    border-radius: 50%;
    margin: 1em auto 2em 1em;
    align-items: center;
}

.card .description{
   text-align: left;
}

.card img{
    width: 100%;
    border-radius: 50%;
}

.card h3{
    font-weight: 600;
}

.card p{
    font-weight: 300;
    padding-right: 1rem;
}

.card:hover{
    background: linear-gradient(#413bef, #ebcaca);
    color: #fff;
}

.card:hover .img-container{
    transform: scale(1.1);
}

@media screen and (min-width: 768px){
    section{
        padding : 1em 6em;
    }
}

@media screen and (min-width: 992px){
    section{
        padding : 0.5em;
    }
    .card{
        padding: 1em 0.1em;
    }
    .column{
        flex: 0 0 45.5%;
        max-width: 45.5%;
        padding: 0 0.1em;
    }
}

/* Section photo */
.photos{
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0;
}
.wrapper{
    max-width: 1200px;
    display: flex;
    position: relative;
}

.wrapper i{
    top: 50%;
    height: 44px;
    width: 44px;
    cursor: pointer;
    position: absolute;
    font-size: 1.15rem;
    text-align: center;
    line-height: 44px;
    background: #bef3f4;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active{
    transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
    background: #fff;
}


.wrapper i:first-child{
    left: -22px;
    display: none;
}
.wrapper i:last-child{
    right: -22px;
}

.wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.carousel .dragging img{
    pointer-events: none;
}

.carousel img{
 height: 340px;
 object-fit: cover;
 user-select: none;
 margin-left: 14px;
 width: calc(100% / 3);
}

.carousel img:first-child{
    margin-left: 0px;
}

@media screen and (max-width: 900px){
    .carousel img{
        width: calc(100%/2);
    }
}

@media screen and (max-width: 550px){
    .carousel img{
        width: 100%;
    }
}

/*Horaire*/
.horaire img{
    height: 600px;
    width: calc(100%);
    padding: auto;
}